/*margin代表外边距：当元素没有重合使用margin-top、right、bottom、left*/
/*padding代表内边距：当元素没有重合使用padding-top、right、bottom、left*/
*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(244,244,246);

    padding-top: 44px;
    padding-bottom: 49px;
}
header{
    color: white;
    line-height: 44px;
    font-size:18px ;
    background: rgb(40,133,202);
    text-align: center;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 9999;
}
.DS_second_section img{
    width: 100%;
}
footer{
    display: table;
    width: 100%;
    background: black;
    height: 49px;
    right:  0;
    bottom: 0;
    position: fixed;
}
/*成列的标签：display：table-cell;width:一个需求的值;*/
footer a {
    display: table-cell;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}
footer a span{
    display: block;
    color: white;
    font-size: 12px;
}
footer a img{
    width: 20px;
}

.BP_first_section {
    display: table;
    width: 100%;
    background: rgb(244, 244, 246);
    height: 44px;
    left: 0;
    top: 44px;
    position: fixed;
}
.BP_first_section a {
    display: table-cell;
    width: 33.3%;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}
.BP_first_section a span {
    color: black;
}